Source: yaccpp
Section: devel
Priority: optional
Maintainer: Pippijn van Steenhoven <pip88nl@gmail.com>
Uploaders: 
  Pippijn van Steenhoven <pip88nl@gmail.com>
Build-Depends:
  omake,
  libboost-dev,
  debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: https://github.com/pippijn/yaccpp
Vcs-Git: git://github.com/pippijn/yaccpp
Vcs-Browser: https://github.com/pippijn/yaccpp

Package: yaccpp
Architecture: any
Depends: ${misc:Depends}
Description: Yacc Preprocessor
 Stuff.
