Source: yaccpp
Section: devel
Priority: optional
Maintainer: Pippijn van Steenhoven <pip88nl@gmail.com>
Build-Depends:
 debhelper (>= 8.0.0),
 obuild,
 libbaselib-ocaml-dev,
 libboost-dev,
 bison,
 flex,
 valgrind
Standards-Version: 3.9.2
Homepage: https://github.com/pippijn/yaccpp
Vcs-Git: git://github.com/pippijn/yaccpp
Vcs-Browser: https://github.com/pippijn/yaccpp

Package: yaccpp
Architecture: any
Depends: ${misc:Depends}
Description: Yacc Preprocessor
 Yaccpp implements a few features on top of traditional YACC. Yaccpp is more
 than just a preprocessor. Yaccpp is a purely functional dynamically typed
 domain specific programming language for describing context-free grammars.
 That is quite a mouthful, but this power does not get in the way. Yaccpp is
 still about writing grammars, not programs.
